/*****************************************************************
 * Fonts
 *****************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
/*****************************************************************
 * CSS Resets
 *****************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*****************************************************************
 * Base Root styles
 *****************************************************************/

body {
  background-color: #e9eff3;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #222;
  -webkit-text-size-adjust: 100%;
}

#login {
  background-color: rgba(200,200,200,0.3);
}

#login-form {
  float: right;
  background-color: white;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-top: 150px;
  max-height: auto;
  max-width: auto;
  height: 320px;
  width: 350px;
}

#registration-form {
  float: left;
  background-color: white;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-top: 150px;
  max-height: auto;
  max-width: auto;
  height: 320px;
  width: 350px;
}

#registration-button {
  position: absolute;
  top: 163px;
}

.submit-button {
  background-color: #0099ff;
  font-weight: bold;
  color: white;
  padding: 7px;
  border: 1px solid #0099ff;
  border-radius: 2px;
  height: 40px;
  width: 175px;
  max-width: auto;
  max-height: auto;
  top: 140px;
}

.submit-button:hover {
  background-color: #f2f2f2;
  color: #bfbfbf;
}

/*****************************************************************
 * Typography
 *****************************************************************/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: #222;
}

input {
  border-radius: 0;
  padding: 5px;
}

/* Custom CSS for text-boxes */
input[type="email"], input[type="password"] {
  height: 35px;
  width: 270px;
}

/** Custom CSS for checkbox */
input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

/*****************************************************************
 * Responsive Design
 *****************************************************************/
 
 /* Tablet landscape orientation */
@media screen and (max-width: 1040px) {
 #login-form {
    float: none;
    margin: auto;
    height: auto;
    width: auto;
    max-height: auto;
    max-width: auto;
  }

  #registration-form {
    float: none;
    margin: auto;
    width: auto;  
    max-height: auto;
    max-width: auto;
  }
}

/* Tablet portrait orientation */
@media screen and (max-width: 800px) {
 #login-form {
    float: none;
    margin: auto;
    height: auto;
    width: auto;
    max-height: auto;
    max-width: auto;
  }

  #registration-form {
    float: none;
    margin: auto;
    width: auto;  
    max-height: auto;
    max-width: auto;
    margin-top: 10px;
  }
}

/* Smartphone landscape orientation */
@media screen and (max-width: 768px) {
  #login-form {
    float: none;
    margin: auto;
    height: auto;
    width: auto;
    max-height: auto;
    max-width: auto;
  }

  #registration-form {
    float: none;
    margin: auto;
    width: auto;  
    max-height: auto;
    max-width: auto;
    margin-top: 10px;
  }

  #registration-button {
    top: 150px;
  }
}

/* Smartphone portrait orientation */
@media screen and (max-width: 500px) {  
  #login-form {
    float: none;
    margin: auto;
    height: auto;
    width: auto;
    max-height: auto;
    max-width: auto;
  }

  #registration-form {
    float: none;
    margin: auto;
    width: auto;  
    max-height: auto;
    max-width: auto;
    margin-top: 10px;
  }

  .submit-button {
    max-width: auto;
    max-height: auto;
    margin: auto;
  }

  #registration-button {
    top: 150px;
  }
}